<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<h1>Hello Everyone!</h1>
	<img src="http://mela-ppw.herokuapp.com/foto.png" alt="Khameela Rahmah">
    <article>My name is {{ name }}</article>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>My hobby is {{ hobby }}</article>
    <article>I am currently studying at Fasilkom UI as Computer Science student</article>
</body>
</html>
